.todo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90vw;
    grid-template-areas:
        "esquerda meio dereita";
}

.esquerdo {
    grid-area: esquerda;
}

.direito {
    grid-area: dereita;

}

.centro {
    grid-area: meio;
}

