* {
    border: 0;
    margin: 0;
    padding: 0;
}


body {
    margin: 0;
    height: 100vh;
    display: flex;
    background: linear-gradient(#450050, #e753fe);
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    color: white;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    color: white;

    height: 100vh;
    width: 100vw;
    border: 3px solid blue;
    border: 0;
    background-image: url(imagems/menu.png);
    background-position: center;
}

.screen {
    text-align: center;
    background-image: url(imagens/Inserir\ um\ pouquinho\ de\ texto.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    display: block;
    width: 250px;
    margin: 15px auto;
    padding: 15px;
    font-size: 25px;
    background-color: white;
    color: #c400ff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #ff6b81;
    transform: scale(1.1);
}

.todo {
    height: 100vh;
}

.lado {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.detale {
    font-family: "calculador";
    border: 3px solid #CDAD89;
    background-color: #A29687;
    color: #F7BD7C;
    font-size: 30px;
    border-radius: 12px;
    padding: 0 5px;
}

.Informacao_da_tela {
    font-size: 50px;
    font-family: "Electrowave";
    color: #F7BD7C;
}

.live_foguete {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 20vw;
    border: 5px solid red;
    animation: mudarCor 600s linear forwards;
}

.funcoes {
    font-family: "calculador";
    background: none;
    background-color: #A29687;
    border: 3px solid #F7BD7C;
    color: #F7BD7C;
}

@keyframes shake {
    0% {
        transform: translate(0px, 0px) rotate(0deg);
    }

    20% {
        transform: translate(-5px, 0px) rotate(-2deg);
    }

    40% {
        transform: translate(5px, 0px) rotate(2deg);
    }

    60% {
        transform: translate(-5px, 0px) rotate(-2deg);
    }

    80% {
        transform: translate(5px, 0px) rotate(2deg);
    }

    100% {
        transform: translate(0px, 0px) rotate(0deg);
    }
}

#foguete {
    animation: shake 0.5s infinite;
    height: 85vh;
}

.centro {
    position: relative;
    width: 100%;
    height: 100vh;
    /* animation: mudarCor 600s linear forwards; */
}

@keyframes mudarCor {
    from {
        background-color: #7bd3f7;
    }

    to {
        background-color: #000000;
    }
}

@font-face {
    font-family: "Electrowave";
    src: url("fontes/electro_wave_vol_2/Electro Wave Vol.2_Free.ttf")
}

@font-face {
    font-family: "calculador";
    src: url("fontes/calculator/Calculator.ttf")
}

h1 {
    font-family: "Electrowave";
    font-size: 100px;
    align-items: center;
}