.cube{
    height: 50px;
    width: 50px;
    border-radius: 15px;
    margin: 10px;
    display:inline;
    float:left;
    background-color: rgb(23, 155, 6);
    border: 3px solid black;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(imagens/tela.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    font-family: "calculador";
}
@font-face {
    font-family: "calculador";
    src: url("fontes/calculator/deluxe.regular.ttf")
}
* {
    border: 0;
    margin: 0;
    padding: 0;
}
main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
button {
    display: block;
    width: 250px;
    margin: 15px auto;
    padding: 15px;
    font-size: 25px;
    background-color: white;
    color: #c400ff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #ff6b81;
    transform: scale(1.1);
}

